
@font-face {
    font-family: 'nunito_sansregular';
    src: url('fonts/nunitosans-regular-webfont.woff2') format('woff2'),
         url('fonts/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mograregular';
    src: url('fonts/mogra-regular-webfont.woff2') format('woff2'),
         url('fonts/mogra-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'nunito_sansregular';
    font-size: 16px;
}

h1 {
    font-family: 'mograregular';
    font-size: 36px;
}

h2 {
    font-size: 21px;
    font-weight: normal;
    color: #2E2D2D;
}

.container {
    width:80vw;
}

.center {
    margin: 0 auto;
}


.grid-container {
    width: 80%;
    margin: 10vh auto;
    min-height: 60vh;
    max-height: 80vh;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: min-content min-content min-content min-content;
    gap: 0px 15%;
    grid-template-areas:
      "banner-header banner-image"
      "banner-content banner-image"
      "banner-cta banner-image"
      "banner-social banner-image";
  }
  
  .banner-header { grid-area: banner-header; }
  
  .banner-content { grid-area: banner-content; color: #444444; line-height: 22px;}
  
  .banner-cta { grid-area: banner-cta; }
  
  .banner-social { grid-area: banner-social; }
  
  .banner-image { grid-area: banner-image; }

#name-header {
    font-size: 52px;
}

.banner-header > h1,h2 {
    margin: 2px 0px;
}

.banner-content {
    padding: 20px 0px;
    font-size: 18px;
}

#my-pic {
    max-width: 100%;
    max-height: 100%;
}

#cta-btn {
    background-color: #7544C6;
    width: 115px;
    height: 50px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
}

#social-icon-container {
    height: fit-content;
    font-size: 0px;
    display: block;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

#linkedin-logo {
    background-color: #0077B5;
}

#github-logo {
    background-color: #6E5494;
}

#twitter-logo {
    background-color: #1DA1F2;
}

.social-icon {
    height: fit-content;
    display: inline-block;
    padding: 2px;
    margin: 0px;
}

.social-icon > img {
    padding: 10px;
    height: 20px;
    display: block;
}