
@font-face {
    font-family: 'nunito_sansregular';
    src: url('fonts/nunitosans-regular-webfont.woff2') format('woff2'),
         url('fonts/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mograregular';
    src: url('fonts/mogra-regular-webfont.woff2') format('woff2'),
         url('fonts/mogra-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'nunito_sansregular';
    font-size: 16px;
}

body {
    margin: 0px;
    padding: 0px 0px 2rem 0px;
}

h1 {
    font-family: 'mograregular';
    font-size: 36px;
}

h2 {
    font-size: 21px;
    font-weight: normal;
    color: #2E2D2D;
}

.container {
    width:80vw;
}

.center {
    margin: 0 auto;
    width: fit-content;
}

.grid-container {
    width: 66%;
}

#grid-container-banner {
    margin: 10vh auto;
    min-height: 60vh;
    max-height: 80vh;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: min-content min-content min-content min-content;
    gap: 0px 15%;
    grid-template-areas:
      "banner-header banner-image"
      "banner-content banner-image"
      "banner-cta banner-image"
      "banner-social banner-image";
  }
  
  .banner-header { grid-area: banner-header; }
  
  .banner-content { grid-area: banner-content; color: #444444; line-height: 22px;}
  
  .banner-cta { grid-area: banner-cta; }
  
  .banner-social { grid-area: banner-social; }
  
  .banner-image { grid-area: banner-image; }

#grid-container-skills {
    margin: 10vh auto;
    min-height: 60vh;
    max-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 15%;
    grid-template-areas:
      "scripting-auto backend-engg"
      "dl-ai devops";
  }
  
  .scripting-auto { grid-area: scripting-auto; }
  
  .dl-ai { grid-area: dl-ai; }
  
  .backend-engg { grid-area: backend-engg; }
  
  .devops { grid-area: devops; }
  

#grid-container-skill {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "grid-logo grid-content";
  }
  
  .grid-logo { grid-area: grid-logo; }
  
  .grid-content { grid-area: grid-content; }
  

.grid-logo > img {
    height: 50px;
}

.grid-content > h2 {
    line-height: 22px;
    margin: 10px 0px 30px 0px;
    font-weight: bold;
}

#name-header {
    font-size: 52px;
}

.banner-header > h1,h2 {
    margin: 2px 0px;
}

.banner-content {
    padding: 20px 0px;
    font-size: 18px;
}

#my-pic {
    max-width: 90%;
    padding: 0px 5%;
}

#cta-btn {
    background-color: #7544C6;
    width: 115px;
    height: 50px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 20px;
    color: #ffffff;
    font-weight: bold;
}

#social-icon-container {
    height: fit-content;
    font-size: 0px;
    display: block;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
}

#linkedin-logo {
    background-color: #0077B5;
}

#github-logo {
    background-color: #6E5494;
}

#twitter-logo {
    background-color: #1DA1F2;
}

.social-icon {
    height: fit-content;
    display: inline-block;
    padding: 2px;
    margin: 0px;
}

.social-icon > img {
    padding: 10px;
    height: 20px;
    display: block;
}

#grid-container-journeys {
    margin: 10vh auto;
    /* min-height: 60vh;
    max-height: 80vh; */
    display: grid;
    grid-template-columns: 1.4fr 0.2fr 1.4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "grid-hasura timeline1 empty1"
      "empty2 timeline2 grid-iit"
      "grid-zoho timeline3 empty3"
      "empty4 timeline4 grid-tcs";
  }
  
  .grid-hasura { grid-area: grid-hasura; }
  
  .empty1 { grid-area: empty1; }
  
  .empty2 { grid-area: empty2; }
  
  .grid-iit { grid-area: grid-iit; }
  
  .grid-zoho { grid-area: grid-zoho; }
  
  .empty3 { grid-area: empty3; }
  
  .empty4 { grid-area: empty4; }
  
  .grid-tcs { grid-area: grid-tcs; }
  
  .timeline1 { grid-area: timeline1; }
  
  .timeline2 { grid-area: timeline2; }
  
  .timeline3 { grid-area: timeline3; }
  
  .timeline4 { grid-area: timeline4; }
  
.grid-container-journey {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    gap: 0px 0px;
    grid-template-areas:
      "grid-journey-logo grid-journey-header"
      "grid-journey-logo grid-journey-subheader"
      "grid-journey-logo grid-journey-content";
  }
  
  .grid-journey-logo { grid-area: grid-journey-logo; }
  
  .grid-journey-header { grid-area: grid-journey-header; }
  
  .grid-journey-subheader { grid-area: grid-journey-subheader; }
  
  .grid-journey-content { grid-area: grid-journey-content; }  

.timeline {
    width: fit-content;
    padding: 0px 30px;
}

.timeline > .center > img {
    display: block;
    height: 100%;
}

.footer-style {
    font-weight: 400;
    color: gray;
}